.gridWrapper {
  width: 1200px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 380px) 420px;
  grid-template-rows: repeat(2, 310px) repeat(2, 1fr);
  grid-column-gap: 9px;
  grid-row-gap: 9px;
  width: 100%;
}
.div1 {
  grid-area: 1 / 1 / 3 / 3;
  overflow: hidden;
  position: relative;
}
.div2 {
  grid-area: 1 / 3 / 2 / 4;
  overflow: hidden;
  position: relative;
}
.div3 {
  grid-area: 2 / 3 / 3 / 4;
  overflow: hidden;
  position: relative;
}

.divText {
  position: absolute;
  bottom: 18px;
  right: 18px;
  width: 250px;
  height: 50px;
  backdrop-filter: blur(30px) brightness(115%);
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* parent2 */

.parent2 {
  display: grid;
  grid-template-columns: 420px repeat(2, 380px);
  grid-template-rows: repeat(3, 310px) repeat(2, 1fr);
  grid-column-gap: 9px;
  grid-row-gap: 9px;
  width: 100%;
  margin-top: -9px;
}
.div4 {
  grid-area: 1 / 2 / 3 / 4;
  overflow: hidden;
  position: relative;
}
.div5 {
  grid-area: 1 / 1 / 2 / 2;
  overflow: hidden;
  position: relative;
}
.div6 {
  grid-area: 2 / 1 / 4 / 2;
  overflow: hidden;
  position: relative;
}
.div7 {
  grid-area: 3 / 2 / 4 / 3;
  overflow: hidden;
  position: relative;
}
.div8 {
  grid-area: 3 / 3 / 4 / 4;
  overflow: hidden;
  position: relative;
}

.div1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div6 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div7 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div8 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
