.sliderWrapper {
  margin: auto;
  width: 1209px;
  position: relative;
}

.sliderBox {
  position: relative;
  width: 370px;
  margin: auto;
  margin-left: 6px;
}

.sliderBoxImgContainer {
  position: relative;
  width: 370px;
  height: 556px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
  margin-top: 5px;
}

.sliderTexts {
  margin-top: 22px;
}

.mainTitle {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #333333;
  margin-bottom: 4px;
}

.subTitle {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #333333;
  margin-bottom: 10px;
}

.price {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #00801e;
  margin-bottom: 32px;
}

.addBtn {
  width: 370px;
  height: 62px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #333333;
}

.addBtn p {
  font-size: 21px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: white;
  letter-spacing: 0.2em;
}
